@media screen and (max-width: 1979px) {
	.background-element-5 {
		left: -22%;
	}

	.background-element-6 {
		right: -28%;
	}

	.background-element-4 {
	    right: -24%;
	}

	.background-element-3 {
	    left: -24%;
	}

	.background-element-1 {
		left: -30%;
	}

	.background-element-2 {
		right: -22%;
	}

	.bloger-element-1 {
		left: -22%;
	}

	.bloger-element-2 {
		right: -26%;
	}

	.bloger-element-3 {
		left: -22%;
	}

	.bloger-element-5 {
		right: -25%;
	}

	.bloger-element-7 {
		right: -24%;
	}

	.bloger-element-6 {
		left: -24%;
	}

	.bloger-element-4 {
		right: -26%;
	}

	.video-element-2 {
		right: -26%;
	}

	.video-element-1 {
		left: -22%;
	}

	.video-element-3 {
		right: -26%;
	}

	.download-work-element-1 {
		left: -12%;
	}

	.download-work-element-2 {
		right: -24%;
	}

	.download-work-element-3 {
		right: -24%;
	}
}

@media screen and (max-width: 1636px) {
	.background-element-6 {
		display: none;
	}

	.background-element-4 {
		display: none;
	}

	.background-element-2 {
		display: none;
	}
}

@media screen and (max-width: 1560px) {
	.video-element-1 {
		display: none;
	}

	.bloger-element-2 {
		display: none;
	}

	.video-element-3 {
		display: none;
	}

	.background-element-4 {	
	    position: absolute;
	    overflow: hidden;
	    right: 0;
	    bottom: -69%;
	    z-index: 1;
	    width: 15%;
	}

	.bloger-element-4 {
		display: none;
	}

	.bloger-element-5 {
		display: none;
	}

	.video-element-2 {
		display: none;
	}

	.bloger-element-6 {
		display: none;
	}

	.bloger-element-7 {
		display: none;
	}

	.bloger-element-2 {
		display: none;
	}

	.bloger-element-7 {
		display: none;
	}

	.bloger-element-4 {
		display: none;
	}

	.download-work-element-2  {
		display: none;
	}

	.download-work-element-3 {
		display: none;
	}

	.title-winner-stage__line:after {
		right: 270px;
	}

	.title-winner-stage__line:before {
	    left: 280px;
	}

	.wrap-logo {
		width: 15%;
	}

}

@media screen and (max-width: 1500px) {

	.download-work-element-1 {
		display: none;
	}
}

@media screen and (max-width: 1380px) {
	.bloger-element-1 {
		display: none;
	}

	.bloger-element-3 {
		display: none;
	}

	.download-work-element-2 {
		display: none;
	}

	.example-work__desc:before,
	.example-work__desc:after {
		display: none;
	}
}

@media screen and (max-width: 1260px) {
	.title-video:after,
	.title-photo:after {
		display: none;
	}

	.title-winner-stage__line:before,
	.title-winner-stage__line:after {
		display: none;
	}
}

@media screen and (max-width: 1090px) {
	
	.title-winner-stage__line:before {
		display: none;
	}

	.title-winner-stage__line:after {
		display: none;
	}

	.title-participant-stage__line:before {
		display: none;
	}

	.title-participant-stage__line:after {
		display: none;
	}

	.wrap-video__element-video-2 {
	    position: absolute;
	    right: -65px;
	    overflow: hidden;
	    width: 13%;
	}

	.wrap-video__wrap-further-more {
		font-size: 18px;
	    bottom: 50px;
    	right: -96px;
	}

	.wrap-video {
		width: 77%;
	}

	.menu__timer {
	    margin-left: 70px;
	}
}

@media screen and (max-width: 1050px) {
	.task-blogers {
		flex-direction: column;
    	align-items: center;
	}

	.task-blogers__wrap-item:first-child {
		margin: 50px;
	}

	.task-blogers__wrap-item {
		width: 100%;
	}

	.bloger-section {
		width: 100%;
	    align-items: center;
	}

	.bloger-section:first-child {
		margin: 0 20px;
	}

	.bloger-section:last-child {
		margin-right: 20px;
	}

	.bloger-section__task {
		max-width: none;
	}

	.bloger-section__bloger {
		width: 66%;
	}

	.bloger-section:last-child  .like {
		background: url(../img/task-stage-count-like-2.png) 2% 2px no-repeat;
	}

	.bottom-elements {
		display: none;
	}

	.team {
    	background: url(../img/border-count-team.png) 50% 0% no-repeat #fff;
	    width: 100%;
	}

	.like__container {
		margin-right: 42px;
	}

	.bloger-section:last-child .like__container {
	    margin-left: 22px;
	}

	.like {
    	background: url(../img/task-stage-count-like-1.png) 105% -32px no-repeat;
	}

	.task-blogers__element-2 {
		bottom: -36px;
		right: 37%;
	}

	.example-work-bloger__work,
	.works-winners-stage {
		flex-direction: column;
	}

	.title-bloger:before,
	.title-comments:before {
		display: none;
	}

	.title-bloger:after,
	.title-comments:after {
		display: none;
	}

}

@media screen and (max-width: 1020px) {

	.container-menu {
		margin-left: 0;
	}

	.menu__img-back {
		display: none;
	}

	.wrap-menu {
	    flex-direction: column;
	    align-items: center;
	}

	.hashtag-video {
	    top: 170px;
	}

	.wrap-logo {
		width: 100%;
	}

	.menu__icon-m1 {
		margin: 0 10px;
		position: static;
	}

	.menu__timer {
		margin-left: 0;
	}

	.download-work-element-3 {
		display: none;
	}

	.connect-team__conditions:before {
		display: none;
	}

}

@media screen and (max-width: 940px) {

	.navigation-stages__element-1 {
		display: none;
	}

	.navigation-stages__wrap-action-stage {
		
	}

	.background-element-4 {
		display: none;
	}

	.navigation-stages {
		flex-direction: column;
        align-items: center;
	}

	.navigation-stages__stages {
	    margin-right: 0;
	    margin-bottom: 30px;
	}

	.navigation-stages__action-stage {
		margin-left: 0;
    	position: static;
	    text-align: center;
	}

	.navigation-stages__line {
		display: none;
	}

}

@media screen and (max-width: 845px) {

	.wrap-video__wrap-further-more {
		display: none;
	}

	.hashtag-video__title {
	    font-size: 24px;
	}

	.bloger-section__bloger {
		width: 100%;
	}
}

