@font-face {
	font-family: HelveticaNeueCyrThin;
	src: url(fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Thin.otf);
}

@font-face {
	font-family: HelveticaNeueCyrLight;
	src: url(fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.otf);
}

@font-face {
	font-family: HelveticaNeueCyrBold;
	src: url(fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.otf);
}

@font-face {
	font-family: HelveticaNeueCyrBlack;
	src: url(fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Black.otf);
}

@font-face {
	font-family: Coalhandluke;
	src: url(fonts/coalhandluke.ttf);
}

body {
	margin: 0;
	font-family: Helvetica;
}

.header {
	margin-top: 14px;
}

.wrap-menu {
	display: flex;
    align-items: flex-end;
}

.wrap-logo {
	width: 33%;
	text-align: right;
	position: relative;
}

.wrap-logo__img-element {
    position: absolute;
    right: 137px;
    top: -14px;
}

.container-menu {
	width: 100%;
	background: #000;
	margin-left: 72px;
}

.menu {
	position: relative;
	height: 50px;
    display: flex;
    align-items: center;
    max-width: 844px;
    justify-content: space-between;
}

.menu__img-back {
    position: absolute;
    left: -102px;
    top: -6px;
}

.menu__icon-m1 {
    position: absolute;
    left: 7px;
    top: 6px;
}

.menu__timer {
    display: inline-block;
    font-family: Coalhandluke;
    margin-left: 130px;
    color: #fff;
    position: relative;
    font-size: 36px;
    position: relative;
}

.menu__days,
.menu__hours,
.menu__minutes,
.menu__seconds {
	padding-right: 12px;
	padding-left: 6px;
}


.start-stage {
	font-family: Coalhandluke;
    text-align: center;
    position: absolute;
    font-size: 18px;
    color: #0d0d0d;
    top: -28px;
    width: 200px;
}

.nav-sections {
	font-family: HelveticaNeueCyrThin;
	display: inline-block;
}

.nav-sections__list {
	margin: 0;
	padding: 0;
	width: 316px;
	display: flex;
    justify-content: space-between;
}

.nav-sections__item {
	text-transform: uppercase;
	color: #fff;
	list-style: none;
	display: inline-block;
}

.menu__wrap-loupe {
	display: inline-block;
}

.nav-sections__link {
	color: #fff;
	text-decoration: none;
	padding: 18px 0;
}

.nav-sections__submenu {
	font-family: HelveticaNeueCyrLight;
	display: none;
	position: absolute;
	padding: 0;
	margin-top: 16px;
    width: 258px;
    right: 0;
    text-align: center;
    border-collapse: collapse;
    z-index: 1;
}

.nav-sections__submenu:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 10px;
    top: -9px;
    left: 40%;
    z-index: 23;
    background: url(img/element-menu-triangle.png);
}

.nav-sections__item:hover .nav-sections__link {
	color: #e47f6a;
	font-weight: bold;
}

.nav-sections__item:hover .nav-sections__submenu {
	display: block;
	background: #fff;
	z-index: 2;
}

.nav-sections__submenu-item {
	list-style: none;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.nav-sections__submenu-item:last-child {
    border-bottom: 1px solid #000;
}

.nav-sections__submenu-link {
	color: #0d0d0d;
	text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

.nav-sections__submenu-link:hover {
	color: #fff;
}

.nav-sections__submenu-item:hover:first-child {
	border-top: 1px solid #99d7e5;
}

.nav-sections__submenu-item:hover {
	background: #99d7e5;
	color: #fff;
	border-left: 1px solid #99d7e5;
	border-right: 1px solid #99d7e5;
}

.nav-sections__submenu-item:hover:last-child {
	border-bottom: none;
}

.background-element-1 {
	position: absolute;
	overflow: hidden;
    left: -52%;
}

.background-element-2 {
	position: absolute;
	overflow: hidden;
	right: -44%;
}

.background-element-3 {
    position: absolute;
    overflow: hidden;
    left: -47%;
    top: 476px;
    z-index: 1;
    width: 250px;
}

.background-element-4 {
    position: absolute;
    overflow: hidden;
    right: -44%;
    top: 476px;
    z-index: 1;
    width: 250px;
}

.background-element-5 {
	position: absolute;
    overflow: hidden;
    left: -44%;
    bottom: 0;
}

.background-element-6 {
	position: absolute;
    overflow: hidden;
    right: -44%;
    bottom: 0;
}

.wrap-container {
	width: 100%;
	position: relative;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.container-elements {
	max-width: 1980px;
	position: relative;
}


.wrap-video {
	border: 5px solid #000;
	margin: 54px auto 20px auto;
	position: relative;
    display: flex;
    justify-content: center;
    width: 79%;
}

.hashtag-video {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    top: 118px;
    z-index: 1;
}

.hashtag-video__title {
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBold;
    padding: 18px 42px;
    font-size: 44px;
    color: #0d0d0d;
    background: #fff;
    display: inline;
}

.hashtag-video__title_red {
	color: #e47f6a;
}

.wrap-video__element-video-1 {
	position: absolute;
    left: -4px;
    top: -59px;
}

.wrap-video__element-video-2 {
	position: absolute;
	right: -104px;
	overflow: hidden;
}

.wrap-video__element-video-3 {
	position: absolute;
	right: -19px;
	bottom: 150px;
}

.wrap-video__element-video-4 {
    position: absolute;
    right: 160px;
    bottom: -33px;
}

.wrap-video__element-video-5 {
    position: absolute;
    bottom: 44px;
    left: -152px;
}

.wrap-video__wrap-further-more {
	position: absolute;
    font-family: Coalhandluke;
    font-size: 21px;
    width: 82px;
    bottom: 110px;
    right: -122px;
    overflow: hidden;
}

.wrap-video__more {
	margin-left: 17px;
}

.wrap-main-title {
    font-family: Coalhandluke;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10px;
}

.wrap-main-title__title {
	font-size: 45px;
	font-weight: 100;
	margin: 0;
}

.wrap-main-title__logo {
	margin-left: 30px;
}

.rules-participation {
	width: 100%;
	min-height: 82px;
	display: flex;
	position: relative;
	margin-bottom: 35px;
}

.rules-participation__wrap-description {
	display: inline-block;
}

.rules-participation__description {
	text-align: center;
	font-family: HelveticaNeueCyrLight;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	margin: 0;
    line-height: 16px;
}

.rules-participation__description b {
	font-family: HelveticaNeueCyrBold;
}

.rules-participation__path-1 {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 60px;
	width: 40%;
	background: #f8bfb0;
}

.rules-participation__path-2 {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
	width: 20%;
	background: #c3a4c9;
	position: relative;
}

.rules-participation__path-3 {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 60px;
	width: 40%;
	background: #99d7e5;
}

.rules-participation__path-2:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 25px;
	left: -7px;
	top: 37%;
	background: url(img/stage-competition-arrow.png);
}

.rules-participation__path-2:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 25px;
	right: -9px;
    top: 37%;
	background: url(img/stage-competition-arrow.png);
}

.rules-participation__element-1 {
    position: absolute;
    left: 18%;
    bottom: -24%;
}

.rules-participation__element-2 {
    position: absolute;
    left: 17%;
    bottom: -6%;
}

.rules-participation__element-3 {
    position: absolute;
    right: 38%;
    bottom: -12px;
    z-index: 1;
}

.navigation-stages {
	display: flex;
	margin-bottom: 30px;
}

.navigation-stages__stages {
	width: 32%;
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 130px;
}

.navigation-stages__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #878787;
}

.navigation-stages__stage:hover {
	color: #e07c68;
}

.navigation-stages__stage_active {
	color: #e07c68;
}

.navigation-stages__wrap-action-stage {
	position: relative;
    width: 68%;
}

.navigation-stages__element-1 {
	position: absolute;
	right: 182px;
	top: -36px;
	z-index: 1;
}

.navigation-stages__line {
	position: absolute;
	width: 87%;
	height: 5px;
	background: #000;
	top: 50%;
}

.navigation-stages__line:before {
    content: "";
    position: absolute;
    width: 123px;
    height: 8px;
    left: -70px;
    top: -2px;
    background: url(img/contest-line.png);
}

.navigation-stages__line:after {
    content: "";
    position: absolute;
    width: 123px;
    height: 8px;
    right: -70px;
    top: -2px;
    background: url(img/contest-line.png);
}

.navigation-stages__action-stage {
    background: #fff;
    z-index: 1;
    padding: 0 26px;
    font-size: 25px;
	font-family: Coalhandluke;
	margin-left: 42px;
	position: absolute;
	top: -33%;
}

.navigation-stages__action-stage-title {
	font-size: 29px;
	font-family: Coalhandluke;
	
}

.navigation-stages__action-stage-num {
	font-size: 44px;
	padding-left: 10px;
	font-family: Coalhandluke;
	color: #e07c68;
}

.navigation-stages__action-stage-completed {
	font-size: 14px;
	text-transform: uppercase;
	font-family: Helvetica;
}

.navigation-stages__title {
	font-family: Coalhandluke;
	font-size: 20px;
}

.navigation-stages__status {
	text-transform: uppercase;
	font-size: 11px;
	color: #878787;
}

.task-blogers {
	display: flex;
    justify-content: space-between;
    position: relative;
}

.task-blogers__wrap-item {
	display: flex;
	justify-content: space-between;
    width: 50%;
    z-index: 1;
}

.task-blogers__wrap-item:first-child {
    margin-right: 20px;
}

.bloger-section {
	display: flex;
	flex-direction: column;
	width: 247px;
}

.bloger-section__task {
    background: url(img/task-stage-frame-1.png) 100% 100% no-repeat;
	min-height: 187px;
    max-width: 235px;
    padding-right: 25px;
    margin-bottom: 6px;
}

.bloger-section:last-child .bloger-section__task {
    background: url(img/task-stage-frame-2.png) 10% 100% no-repeat;
    padding-left: 40px;
    padding-right: 0;
}

.bloger-section__title {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
	font-family: Coalhandluke;
	font-size: 30px;
	color: #05071b;
    line-height: 20px;
    margin-bottom: 18px;
}

.bloger-section:last-child .bloger-section__title {
	align-items: flex-start;
}

.bloger-section__title-task {
    margin-right: 26px;
}

.bloger-section:last-child .bloger-section__title-task {
	mirgin-right: 0;
}

.bloger-section__title-stage {
	color: #e47f6a;
}

.bloger-section:last-child .bloger-section__title-stage {
	margin-left: 36px;
}

.bloger-section__description-task {
	font-family: HelveticaNeueCyrBold;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    text-align: right;
}

.bloger-section:last-child .bloger-section__description-task {
    text-align: left;
}

.bloger-section__bloger {
	position: relative;
}

.bloger-section__bloger-wrap-name {
	display: flex;
	justify-content: flex-end;
	padding-right: 25px;
	font-family: HelveticaNeueCyrThin;
}

.bloger-section:last-child .bloger-section__bloger-wrap-name {
	justify-content: flex-start;
	padding-left: 10px;
	padding-right: 0;
}

.bloger-section__bloger-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 15px;
	text-transform: uppercase;
	font-size: 13px;
}

.bloger-section:last-child .bloger-section__bloger-name {
	align-items: flex-end;
}

.bloger-section__last-name-bloger {
	font-family: HelveticaNeueCyrBold;
}

.bloger-section__bloger-img {
	position: absolute;
    top: -36px;
    z-index: 1;
}

.bloger-section:last-child .bloger-section__bloger-img {
	right: 0;
}

.like {
    background: url(img/task-stage-count-like-1.png) 132% -32px no-repeat;
    height: 97px;
    text-align: right;
}

.bloger-section:last-child  .like {
	background: url(img/task-stage-count-like-2.png) -12% 2px no-repeat;
    height: 97px;
    text-align: left;
}

.like__container {
    display: inline-block;
    margin-top: 25px;
    margin-right: 10px;
}

.bloger-section:last-child .like__container {
	margin-left: 10px;
	margin-right: 0;
}

.like__count {
	font-family: Coalhandluke;
	font-size: 25px;
	color: #fff;
	padding-right: 10px;
}

.like__icon {
	vertical-align: top;
}

.bloger-section__video {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.bloger-section__wrap-video {
	display: block;
	z-index: 1;
}

.team {
	background: url(img/border-count-team.png) no-repeat #fff;
	height: 55px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: HelveticaNeueCyrBlack;
    text-transform: uppercase;
}

.team__title {
    padding-right: 10px;
}

.team__name {
	font-family: Coalhandluke;
	font-size: 36px;
}

.task-blogers__element-1 {
	position: absolute;
    bottom: -50px;
    left: -29px;
    z-index: 1;
}

.task-blogers__element-2 {
	position: absolute;
    bottom: -16px;
    right: 20%;
    z-index: 1;
}

.wrap-statistics-bloger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.statistics-bloger {
	display: flex;
	align-items: center;
}

.statistics-bloger__like {
    position: relative;
    background: url(img/container-like-1.png) 0% 45% no-repeat;
    width: 169px;
    height: 90px;
    margin-right: 15px;
}

.statistics-bloger__like-count {
	position: absolute;
    left: 18%;
    bottom: 27%;
    font-family: Coalhandluke;
    font-size: 36px;
    color: #fff;
}

.statistics-bloger__icon {
	position: absolute;
    left: 70%;
    bottom: 34%;
}

.statistics-bloger__wrap-count-team {
	margin-right: 32px;
}

.statistics-bloger__count-team {
	font-family: Coalhandluke;
    font-size: 36px;
}

.staticstics-bloger__text-team {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.button-challenge {
	display: flex;
	justify-content: space-between;
}

.button-challenge__join-team {
	border: 5px solid #eaeaea;
	color: #eaeaea;
	text-transform: uppercase;
	font-size: 14px;
	font-family: HelveticaNeueCyrBlack;
	padding: 14px 17px 18px 17px;
	text-decoration: none;
	margin-right: 15px;
}

.button-challenge__all {
	border: 5px solid #df96cc;
	color: #df96cc;
	text-transform: uppercase;
	font-size: 14px;
	font-family: HelveticaNeueCyrBlack;
	padding: 14px 17px 18px 17px;
	text-decoration: none;
}

.feature-bloger,
.item-bloger {
	min-height: 160px;
	position: relative;
	margin-bottom: 38px;
	background: -moz-linear-gradient(left, rgba(238,200,228,1) 0%, rgba(222,147,202,1) 25%, rgba(238,200,228,1) 50%, rgba(222,147,202,1) 75%, rgba(238,200,228,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,200,228,1)), color-stop(25%, rgba(222,147,202,1)), color-stop(50%, rgba(238,200,228,1)), color-stop(75%, rgba(222,147,202,1)), color-stop(100%, rgba(238,200,228,1)));
	background: -webkit-linear-gradient(left, rgba(238,200,228,1) 0%, rgba(222,147,202,1) 25%, rgba(238,200,228,1) 50%, rgba(222,147,202,1) 75%, rgba(238,200,228,1) 100%);
	background: -o-linear-gradient(left, rgba(238,200,228,1) 0%, rgba(222,147,202,1) 25%, rgba(238,200,228,1) 50%, rgba(222,147,202,1) 75%, rgba(238,200,228,1) 100%);
	background: -ms-linear-gradient(left, rgba(238,200,228,1) 0%, rgba(222,147,202,1) 25%, rgba(238,200,228,1) 50%, rgba(222,147,202,1) 75%, rgba(238,200,228,1) 100%);
	background: linear-gradient(to right, rgba(238,200,228,1) 0%, rgba(222,147,202,1) 25%, rgba(238,200,228,1) 50%, rgba(222,147,202,1) 75%, rgba(238,200,228,1) 100%);
}

.item-bloger {
    margin-bottom: 100px;
}

.item-bloger:first-child {
	position: relative;
}

.item-bloger:first-child:before {
	content: "";
	position: absolute;
	background: url(img/stage-competition-icon-3.png);
	width: 73px;
	height: 18px;
    right: 290px;
    bottom: -40px;
}

.item-bloger_lk {
	background: rgb(242,216,211);
	background: -moz-linear-gradient(left, rgba(242,216,211,1) 0%, rgba(228,184,173,1) 25%, rgba(242,216,211,1) 50%, rgba(228,184,173,1) 75%, rgba(242,216,211,1) 100%);
	background: -webkit-linear-gradient(left, rgba(242,216,211,1) 0%,rgba(228,184,173,1) 25%,rgba(242,216,211,1) 50%,rgba(228,184,173,1) 75%,rgba(242,216,211,1) 100%);
	background: linear-gradient(to right, rgba(242,216,211,1) 0%,rgba(228,184,173,1) 25%,rgba(242,216,211,1) 50%,rgba(228,184,173,1) 75%,rgba(242,216,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d8d3', endColorstr='#f2d8d3',GradientType=1 );
}

.item-bloger_lb {
	background: rgb(216,201,231);
	background: -moz-linear-gradient(left, rgba(216,201,231,1) 0%, rgba(183,158,208,1) 25%, rgba(216,201,231,1) 50%, rgba(183,158,208,1) 75%, rgba(216,201,231,1) 100%);
	background: -webkit-linear-gradient(left, rgba(216,201,231,1) 0%,rgba(183,158,208,1) 25%,rgba(216,201,231,1) 50%,rgba(183,158,208,1) 75%,rgba(216,201,231,1) 100%);
	background: linear-gradient(to right, rgba(216,201,231,1) 0%,rgba(183,158,208,1) 25%,rgba(216,201,231,1) 50%,rgba(183,158,208,1) 75%,rgba(216,201,231,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8c9e7', endColorstr='#d8c9e7',GradientType=1 );
}

.item-bloger:first-child {
	margin-top: 100px;
}

.item-bloger:last-child {
	margin-bottom: 0;
}

.feature-bloger__wrap-img,
.item-bloger__wrap-img {
	position: absolute;
	bottom: 0;
}

.feature-bloger__img,
.item-bloger__img {
	display: block;
}

.feature-bloger__wrap-img:before {
	content: "";
	background: url(img/arrow-winner.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 36px;
	left: -14px;
	top: 60px;
}

.feature-bloger__wrap-img:after {
	content: "";
	background: url(img/crown-winner.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 36px;
	right: 66px;
    top: 0px;
}

.feature-bloger__wrap-name,
.item-bloger__wrap-name {
	text-transform: uppercase;
}

.feature-bloger__specialty,
.item-bloger__specialty {
	font-size: 15px;
}

.feature-bloger__first-name,
.item-bloger__first-name {
	font-size: 21px;
}

.feature-bloger__last-name,
.item-bloger__last-name {
	font-size: 21px;
	font-weight: bold;
}

.feature-bloger__wrap-desc,
.item-bloger__wrap-desc {
	padding: 20px 0 0 258px;
	position: relative;
}

.feature-bloger__wrap-desc:before {
	content: "Победитель этапа";
	position: absolute;
	width: 100px;
	font-family: Coalhandluke;
	left: -80px;
	text-align: right;
}

.feature-bloger__desc,
.item-bloger__desc {
	margin-bottom: 0;
	font-size: 14px;
}

.social-icons {
	position: relative;
	bottom: -40px;
	text-align: right;
}

.social-icons:before {
	content: "";
	background: url(img/element-decoration-1.png) no-repeat;
	position: absolute;
	width: 48px;
	height: 52px;
    left: -40px;
}

.social-icons:after {
	content: "";
	background: url(img/stage-competition-icon-3.png);
	position: absolute;
	width: 73px;
	height: 18px;
    right: 8px;
    bottom: -6px;
}

.social-icons__vk,
.social-icons__facebook,
.social-icons__instagram {
    background: #fff;
    padding: 10px;
    vertical-align: top;
    box-shadow: 3px -3px 10px rgba(1, 1, 1, 0.4);
}

.social-icons__facebook {
	margin: 0 6px;
}

.example-work-bloger__title {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

.example-work-bloger__work {
	display: flex;
}

.example-work-bloger__video {
	min-width: 527px;
}

.example-work-bloger__wrap-desc {
	margin-left: 12px;
}

.example-work-bloger__bloger-name {
	font-size: 24px;
	font-weight: bold;
}

.example-work-bloger__desc {
	font-size: 14px;
}
.example-work-bloger__wrap-like {
	margin-bottom: 30px;
}

.example-work-bloger__count-like {
	font-family: Coalhandluke;
	font-size: 24px;
}

.example-work-bloger__icon-like {
	vertical-align: bottom;
	margin-left: 6px;
}

.example-work-bloger__wrap-comment {
	display: flex;
	margin-bottom: 15px;
}

.example-work-bloger__lable-comment {
	width: 100%;
	background: url(img/border-comment.png) 5px 0 no-repeat;
}

.example-work-bloger__comment {
	margin-top: 8px;
    margin-left: 42px;
    width: 400px;
    min-height: 24px;
    border: none;
    outline: none;
}

.example-work-bloger__buttons {
	text-align: right;
}

.example-work-bloger__comments-all,
.example-work-bloger__send-comment {
    border: 0;
    padding: 16px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBlack;
    cursor: pointer;
	background: #fff;
	color: #df96cc;
}

.example-work-bloger__comments-all {
	margin-right: 34px;
}

.example-work-bloger__comments-all:hover,
.example-work-bloger__send-comment:hover {
	background: #df96cc;
	color: #fff;
}

.title-winner-stage__line,
.title-participant-stage__line,
.title-bloger__line,
.title-comments__line,
.title-video__line,
.title-photo__line {
	height: 5px;
	background: #000;
}

.title-winner-stage,
.title-participant-stage,
.title-bloger,
.title-video,
.title-photo,
.title-comments {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.title-bloger:before,
.title-comments:before {
	content: "";
	position: absolute;
	background: url(img/element-decoration-8.png) no-repeat;
	width: 60px;
	height: 73px;
    left: 185px;
    top: -11px;
}

.title-bloger:after,
.title-comments:after {
	content: "";
	position: absolute;
	background: url(img/element-decoration-9.png) no-repeat;
	width: 169px;
	height: 159px;
    right: 315px;
    top: -35px;
}

.title-comments:after {
	background: url(img/video-element-2.png);
}

.title-video:before,
.title-photo:before {
	content: "";
	position: absolute;
	background: url(img/search-decor-1.png) no-repeat;
	width: 73px;
	height: 60px;
    left: 270px;
    top: 6px;
}

.title-video:after,
.title-photo:after {
	content: "";
	position: absolute;
	background: url(img/navigation-stages-element.png) no-repeat;
	width: 67px;
	height: 98px;
    right: 362px;
    top: -16px;
}


.title-winner-stage__icon-crown {
    position: absolute;
    transform: rotate(-80deg);
    top: -80%;
    left: 20%;
}

.title-winner-stage__line:before {
	content: "";
	background: url(img/element-team-2.png) no-repeat;
	position: absolute;
	width: 60px;
	height: 73px;
	left: 460px;
	top: -48%;
}

.title-winner-stage__line:after {
	content: "";
	background: url(img/element-decoration-4.png) no-repeat;
	position: absolute;
	width: 167px;
	height: 122px;
	right: 480px;
	bottom: -42px;
}

.title-participant-stage__line:before {
	content: "";
	background: url(img/element-decoration-9.png) no-repeat;
	position: absolute;
	width: 169px;
	height: 159px;
    left: 10%;
    top: -68px;
}

.title-participant-stage__line:after {
	content: "";
	background: url(img/element-decoration-8.png) no-repeat;
	position: absolute;
	width: 60px;
	height: 73px;
	right: 14%;
	bottom: -10px;
}


.title-winner-stage__text,
.title-participant-stage__text,
.title-bloger__text,
.title-comments__text,
.title-video__text,
.title-photo__text {
	font-size: 24px;
    font-weight: bold;
    background: #fff;
    display: inline-block;
    position: relative;
    padding: 0 120px;
    text-transform: uppercase;
	top: 14px;
}

.title-bloger__text,
.title-video__text,
.title-photo__text {
	top: 21px;
}

.title-bloger__num,
.title-video__num,
.title-photo__num {
	font-family: Coalhandluke;
	font-size: 36px;
	padding: 0 10px;
	color: #ef8972;
	position: relative;
}
.title-video__num:before,
.title-photo__num:before {
	content: "";
	position: absolute;
	background: url(img/search-decor-2.png);
	width: 36px;
	height: 28px;
    right: -184px;
    top: 10px;

}

.title-winner-stage__text:before,
.title-participant-stage__text:before,
.title-bloger__text:before,
.title-comments__text:before,
.title-video__text:before,
.title-photo__text:before {
	content: "";
	background: url(img/contest-line.png) no-repeat;
	width: 123px;
	height: 8px;
	position: absolute;
	left: -15%;
    top: 44%;
}

.title-winner-stage__text:after,
.title-participant-stage__text:after,
.title-bloger__text:after,
.title-comments__text:after,
.title-video__text:after,
.title-photo__text:after {
	content: "";
	background: url(img/contest-line.png) no-repeat;
	width: 123px;
	height: 8px;
	position: absolute;
	right: -15%;
    top: 44%;
}

.works-winners-stage {
	display: flex;
}

.works-winners-stage__wrap-item {
	display: flex;
    justify-content: space-around;
    width: 100%;
}

.works-winners-stage__name {
	margin: 5px 0;
	font-size: 14px;
	font-family: HelveticaNeueCyrBlack;
	text-transform: uppercase;
}

.works-winners-stage__desc {
	font-size: 14px;
	margin: 5px 0;
}

.works-winners-stage__wrap-like {
	text-align: center;
	margin-bottom: 30px;
}

.works-winners-stage__count-like {
	font-size: 24px;
	font-family: Coalhandluke;
}

.works-winners-stage__icon-like {
	width: 10%;
}

.bloger-element-1 {
	position: absolute;
	z-index: 1;
	width: 200px;
	left: -44%;
}

.bloger-element-2 {
	position: absolute;
	z-index: 1;
    width: 260px;
    top: 40px;
    right: -44%;
}

.bloger-element-3 {
	position: absolute;
	z-index: 1;
    width: 220px;
    top: 650px;
    left: -44%;
}

.bloger-element-4 {
	position: absolute;
	z-index: 1;
    width: 250px;
    top: 385px;;
    right: -44%;
}

.bloger-element-5 {
	position: absolute;
	z-index: 1;
    width: 250px;
    top: 690px;
    right: -42%;
}

.bloger-element-6 {
    position: absolute;
    z-index: 1;
    width: 250px;
    bottom: -1400px;
    left: -44%;
}

.bloger-element-7 {
    position: absolute;
    z-index: 1;
    width: 250px;
    bottom: -1400px;
    right: -42%;
}

.video-element-1 {
	position: absolute;
	z-index: 1;
    width: 220px;
    top: 475px;
    left: -44%;
}

.video-element-2 {
	position: absolute;
	z-index: 1;
    width: 250px;
    top: 426px;
    right: -44%;	
}

.video-element-3 {
	position: absolute;
	z-index: 1;
    width: 260px;
    top: 70px;
    right: -44%;
}

.connect-team {
	margin-bottom: 20px;
	position: relative;
}

.connect-team__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	position: relative;
}

.connect-team__title:before {
	content: "";
	position: absolute;
	background: url(img/stage-competition-icon-3.png) no-repeat;
	width: 73px;
	height: 18px;
    left: 25%;
    top: -6px;
}

.connect-team__bloger {
	text-align: center;
	margin-bottom: 20px;
}

.connect-team__bloger:before {
	content: "";
	position: absolute;
	background: url(img/element-decoration-8.png) no-repeat;
	width: 60px;
	height: 73px;
    left: 60px;
    z-index: 1;
    top: 13px;
}

.connect-team__bloger:after {
	content: "";
	position: absolute;
	background: url(img/element-decoration-5.png) no-repeat;
	width: 67px;
	height: 98px;
    right: 225px;
    z-index: 1;
    top: 13px;
}

.connect-team__bloger-line {
    background: #000;
    height: 5px;
    margin: 0 50px;
    position: relative;
}

.connect-team__bloger-name {
    position: relative;
    top: 18px;
    z-index: 1;
    background: #fff;
    padding: 0 90px;
}

.connect-team__bloger-name {
	font-size: 29px;
	font-family: Coalhandluke;
}

.connect-team__bloger-name:before {
    content: "";
    position: absolute;
    background: url(img/navigation-stages-arrow.png) no-repeat;
    width: 19px;
    height: 21px;
    left: 30px;
    top: 5px;
    cursor: pointer;
}

.connect-team__bloger-name:after {
    content: "";
    position: absolute;
    background: url(img/navigation-stages-arrow.png) no-repeat;
    width: 19px;
    height: 21px;
    right: 30px;
    top: 5px;
    transform: rotate(180deg);
    cursor: pointer;
}

.connect-team__bloger-line:before {
	content: "";
	position: absolute;
	background: url(img/contest-line.png) no-repeat;
	width: 123px;
	height: 8px;
    left: -45px;
    top: -2px;
}

.connect-team__bloger-line:after {
	content: "";
	position: absolute;
	background: url(img/contest-line.png) no-repeat;
	width: 123px;
	height: 8px;
    right: -45px;
    top: -2px;
}

.connect-team__stage-wrap-name {
	font-family: Coalhandluke;
	font-size: 24px;
}

.connect-team__stage {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.connect-team__stage-num {
	font-size: 38px;
	color: #f18c73;
}

.connect-team__stage-title {
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
    padding-left: 10px;
}

.connect-team__conditions {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.connect-team__conditions:before {
	content: "";
	position: absolute;
	background: url(img/element-video-5.png) no-repeat;
	width: 115px;
	height: 155px;
	z-index: 1;
    left: -25px;
    bottom: -80px;
}

.connect-team__conditions-desc {
	font-family: Coalhandluke;
	font-weight: normal;
	font-size: 25px;
    margin: 8px 0;
}

.connect-team__conditions-logo {
	padding-left: 15px;
}

.block-reg-team {
	background: -moz-linear-gradient(left, rgba(176,145,182,1) 0%, rgba(209,187,213,1) 50%, rgba(176,145,182,1) 100%);;
	background: -webkit-linear-gradient(left, rgba(176,145,182,1) 0%, rgba(209,187,213,1) 50%, rgba(176,145,182,1) 100%);;
	background: -o-linear-gradient(left, rgba(176,145,182,1) 0%, rgba(209,187,213,1) 50%, rgba(176,145,182,1) 100%);;
	background: -ms-linear-gradient(left, rgba(176,145,182,1) 0%, rgba(209,187,213,1) 50%, rgba(176,145,182,1) 100%);;
	background: linear-gradient(left, rgba(176,145,182,1) 0%, rgba(209,187,213,1) 50%, rgba(176,145,182,1) 100%);;
}

.block-reg-team__form {
    display: flex;
    justify-content: center;
    padding: 0px 120px 40px 120px;
    position: relative;
}

.block-reg-team__form:before {
	content: "";
	position: absolute;
	background: url(img/download-work-el-1.png) no-repeat;
	width: 132px;
	height: 193px;
    bottom: -102px;
    left: 30%;

}

.block-reg-team__form-desc {
	margin: 0;
	color: #fff;
	font-size: 16px;
	margin: 25px 0;
}

.block-reg-team__wrap-download {
    display: flex;
    flex-direction: column;
    position: relative;
}

.block-reg-team__wrap-download:before {
    content: "Редактиркуйте размер и положение фото в кадре";
    position: absolute;
    background: url(img/arrow-winner.png) 105px 0 no-repeat;
    width: 160px;
    height: 108px;
    left: -185px;
    top: 125px;
    text-align: right;
    padding-top: 50px;
    font-family: Coalhandluke;
}

.block-reg-team__download {
	background: #d1bcd5;
	border: 1px dotted #fff;
	text-align: center;
    padding: 97px 50px;
    margin-top: 73px;
    position: relative;
}

.block-reg-team__download:before {
	content: "";
    position: absolute;
    background: url(img/loupe+.png) no-repeat;
    width: 30px;
    height: 30px;
    left: -34px;
    top: 0;
}

.block-reg-team__download:after {
	content: "";
    position: absolute;
    background: url(img/loupe-.png) no-repeat;
    width: 30px;
    height: 30px;
    left: -25px;
    top: 38px;
}

.block-reg-team__user-data {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
}

.block-reg-team__user-data:before {
    content: "Указывайте, пожалуйста, актуальные данные, чтобы с Вами могли связаться в случае победы";
    position: absolute;
    right: -214px;
    top: 34px;
    width: 188px;
    padding-top: 50px;
    font-family: Coalhandluke;
}

.block-reg-team__user-data:after {
	content: "";
    position: absolute;
    background: url(img/arrow-winner.png) no-repeat;
    width: 40px;
    height: 36px;
    right: -70px;
    top: 158px;
    transform: rotate(192deg);
}

.block-reg-team__download-desc {
	margin: 0;
}

.block-reg-team__form-input,
.block-reg-team__form-textarea {
	background: none;
    border: 1px solid #fff;
    padding: 8px 10px;
    margin: 5px 0px;
    width: 493px;
}

.block-reg-team__form-textarea {
	min-height: 62px;
}

.block-reg-team__form-submit {
    background: none;
    border: 5px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;
    color: #fff;
    padding: 9px 0;
    font-family: HelveticaNeueCyrBlack;
    margin-top: 40px;
    cursor: pointer;
    z-index: 1;
}

.block-reg-team__form-input-file {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4b4b4b;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}

.block-reg-team__download-desc {
	color: #4b4b4b;
	font-size: 14px;
}

.download-work-element-1 {
	position: absolute;
	z-index: 1;
    width: 250px;
    top: 615px;
    left: -44%;
}

.download-work-element-2 {	
    position: absolute;
    overflow: hidden;
    right: 40px;
    transform: scale(1, -1) rotate(-90deg);
    top: 130px;
    right: -44%;
}

.download-work-element-3 {
	position: absolute;
    width: 250px;
    top: 615px;
    right: -44%;
}

.form-search {
    background: url(img/border-search.png) 50% 0 no-repeat;
    width: 100%;
    height: 84px;
    text-align: center;
    margin-top: 35px;
}

.form-search__wrap {
	margin-right: 50px;
}

.form-saerch__input {
    border: 0;
    min-width: 674px;
    margin-top: 8px;
    padding: 0 5px;
    outline: none;
    font-size: 24px;
}

.form-search__submit {
	background: url(img/icon-seach-black.png) no-repeat;
	width: 29px;
	height: 30px;
	border: none;
    vertical-align: middle;
    cursor: pointer;
}

.wrap-photos {
	display: flex;
	justify-content: flex-start;
}

.wrap-photos__photo {
	width: 385px;
	height: 274px;
}

.title-stage {

}

.title-stage__wrap-stage {
    text-align: center;
}

.title-stage__inner-wrap-stage {
	display: inline-block;
	font-family: Coalhandluke;
	position: relative;
    top: 22px;
    background: #fff;
    z-index: 1;
    padding: 0 15px;
	font-size: 29px;
}

.title-stage__line {
    background: #000;
    height: 5px;
    margin: 0 100px;
    position: relative;
}

.title-stage__line:after {
	content: "";
	position: absolute;
	background: url(img/contest-line.png);
	width: 123px;
	height: 8px;
    right: -80px;
    top: -50%;
}

.title-stage__line:before {
    content: "";
    position: absolute;
    background: url(img/element-decoration-5.png);
    width: 67px;
    height: 98px;
    right: 130px;
    top: -54px;
    z-index: 1;
}

.title-stage__name-team {
	font-size: 29px;
	font-family: Coalhandluke;
	background: #fff;
	position: relative;
    bottom: 20px;
    padding: 0 60px;
}

.title-stage__name-team:before {
	content: "";
	position: absolute;
	background: url(img/navigation-stages-arrow.png);
	width: 19px;
	height: 21px;
	left: 0;
    top: 5px;
    cursor: pointer;
    z-index: 1;
}

.title-stage__name-team:after {
	content: "";
	position: absolute;
	background: url(img/contest-line.png);
	width: 123px;
	height: 8px;
    right: -100px;
    top: 11px;
}

.title-stage__num {
	font-size: 44px;
	color: #e07c68;
}

.presentation-title {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 45px;
}

.example-work-wrap {
	background: #abdee9;
	background: -moz-linear-gradient(left, #abdee9 0%, #d5f7ff 50%, #abdee9 100%);
	background: -webkit-linear-gradient(left, #abdee9 0%,#d5f7ff 50%,#abdee9 100%);
	background: linear-gradient(to right, #abdee9 0%,#d5f7ff 50%,#abdee9 100%);
}

.example-work {
	display: flex;
}

.example-work-inner-wrap {
	position: relative;
	margin-bottom: 30px;
}

.example-work__wrap-video {
	min-width: 525px;
}

.example-work__video {
	display: block;
}

.example-work__social-icons {
	position: absolute;
	right: 10px;
	bottom: -36px;
	text-align: right;
}

.example-work__icon-vk,
.example-work__icon-facebook,
.example-work__icon-instagram {
    background: #fff;
    padding: 10px;
    vertical-align: top;
    box-shadow: 3px -3px 10px rgba(1, 1, 1, 0.4);
}

.example-work__icon-facebook {
	margin: 0 6px;
}

.example-work__desc {
	padding: 15px 10px;
}

.example-work__desc:before {
    content: "делись своей работой, чтоб получить больше лайков!";
    position: absolute;
    bottom: 57px;
    right: -160px;
    font-family: Coalhandluke;
    width: 145px;
}

.example-work__desc:after {
    content: "";
    position: absolute;
    background: url(img/arrow-winner.png);
    width: 40px;
    height: 36px;
    bottom: 25px;
    right: -40px;
    transform: rotate(200deg);
}

.example-work__author {
	margin: 0;
}

.example-work__desc-article {
	font-size: 14px;
}

.example-work__count-like {
	font-size: 24px;
	font-family: Coalhandluke;
    padding: 0 10px;
}

.form-comments-video {
	display: flex;
	align-items: flex-start;
}

.form-comments-video__header {
	width: 100%;
    display: flex;
    flex-direction: column;
}

.form-comments-video__wrap-comment {
    min-height: 49px;
    background: url(img/comment-content.png) 5px 0 no-repeat;
    margin-bottom: 15px;
    position: relative;
}

.form-comments-video__wrap-comment:before {
    content: "";
    background: url(img/comment-content-left.png) no-repeat;
    position: absolute;
    width: 25px;
    height: 49px;
    left: -25px;
}

.form-comments-video__photo-commentator {
	margin-right: 30px;
}

.form-comments-video__comment {
    width: 100%;
    min-height: 49px;
    border: none;
    border-bottom: 4px solid #000;
    outline: 0;
    border-right: 4px solid #000;
    box-sizing: border-box;
}

.form-comments-video__addition {
	margin-left: 26px;
}

.form-comments-video__bottom {
    display: flex;
    justify-content: space-between;
}

.form-comments-video__item {
	margin-right: 25px;
}

.form-commets-video__item:last-child {
	margin-right: 0;
}

.form-comments-video__subscription,
.form-comments-video__reply {
	vertical-align: top;
}

.form-comments-video__subscription-text,
.form-comments-video__reply-text {
    width: 104px;
    display: inline-block;
	font-size: 12px;
}

.form-comments-video__label-file,
.form-comments-video__quote {
	cursor: pointer;
}

.form-comments-video__file {
	display: none;
}

.form-comments-video__wrap-button {
	background: url(img/border-count-team.png);
	width: 247px;
	height: 55px;
    display: flex;
    justify-content: center;
}

.form-comments-video__button {
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	cursor: pointer;
}

.comment-video {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.comment-video__wrap-author {
	width: 100%;
    padding: 5px 26px;
}

.comment-video__author-name {
	font-size: 14px;
}

.comment-video__date {
	font-size: 12px;
	color: #727272;
}

.comment-video__comment {
	font-size: 14px;
}

.comment-video__coutn-like {
	font-size: 14px;
	color: #dd3e0e;
}

.comment-video__like-positive {
	margin: 0 5px;
}

.comment-video__like-negative {
	vertical-align: bottom;
}

.comment-video__wrap-like {
	display: flex;
	justify-content: space-between;
}

.comment-video__wrap-reply {
	display: flex;
	font-size: 14px;
}

.comment-video__subscription {
	margin-left: 20px;
}

.comment-video__like-positive,
.comment-video__like-negative,
.comment-video__reply,
.comment-video__text-subscription {
	cursor: pointer;
}

.comment-video__icon-reply,
.comment-video__icon-subscription {
	margin: 0 5px;
}
